/* Base */
/* ------------------------------------------------------------------ */

body {
    font-family: '黑体', sans-serif;
}
.navbar {
	font-size: 1.6em !important;
	margin: 0;
}
.navbar-brand {
	font-size: 1.2em !important;
}
.footer {
	background-color: rgb(47, 164, 231);
}
/* Home Features */

/* ------------------------------------------------------------------ */

#home-features {

}

.home-features-item {
    background-color: #eee;
    border: solid 1px #ccc;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.home-features-item .item-icon {
    text-align: center;
    padding: 20px;
}

.home-features-item i {
    color: rgb(55, 90, 127);
    font-size: 14em;
}

.hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.home-features-item .item-content {
    background-color: rgb(55, 90, 127);
    color: #fff;
    padding: 20px;
    height: 300px;
    position: absolute;
    z-index: 10;
    top: 235px;
    left: 0;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}

.home-features-item:hover .item-content,
.home-features-item.cs-hover .item-content {
    top: 0
}

.home-features-item .item-content h3 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    margin: 0 0 20px 0;
    color: #fff;
}

@media (min-width: 768px) and (max-width: 991px) { 
    .home-features-item {
        height: 250px
    }

    .home-features-item i {
        font-size: 12em
    }

    .home-features-item .item-content {
        font-size: .8em;
        line-height: 1.6em;
    }

    .home-features-item .item-content h3 {
        font-size: 1.5em;
        margin: 0 0 10px 0;
    }

    .home-features-item .item-content {
        padding: 10px;
        height: 250px;
        top: 210px;
        left: 0;
    }
}

@media (min-width: 992px) { 
    .home-features-item .item-content {
        font-size: .98em;
        line-height: 1.6em;
    }

    .home-features-item i {
        font-size: 14em
    }
}

@media (min-width: 1200px) { 
    .home-features-item {
        width: 90%
    }

    .home-features-item .item-content {
        line-height: 1.7em
    }

    .home-features-item i {
        font-size: 14em
    }
}

/* common */

/* index */
#main-feature {
	text-align: center;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	margin-bottom: 30px;
}
#main-feature .title {
	margin: 50px;
}
#main-feature h1 {
	font-size: 4em;
	font-weight: bolder;
	color: #333;
}
#main-feature h3 {
	font-size: 2em;
	font-weight: bolder;
	color: #333;
}
.main-feature-image {
	max-width: 700px;
	margin: 30px auto 0 auto;
}
#main-feature-list {
	margin-top: 50px;
}
#main-feature-list li {
	line-height: 2em;
	margin: 30px;
}
#main-feature-list img {
	height: 40px;
	background-color: rgba(0,0,0,0.3);
}
#main-feature-list i {
	padding: 10px;
	font-size: 2em;
	background-color: rgba(0,0,0,0.3);
}
#main-feature-list span {
	padding: 8px;
	font-size: 2em;
	background-color: rgba(0,0,0,0.3);
	margin-left: 10px;
	margin-right: 10px;
}
#main-feature-list div {
	background-color: rgba(0,0,0,0.3);
	font-size: 0.5em;
	display: inline-block;
}
.item-icon i {
	font-size: 12em;
}
/* worklist */
#worklist {
	padding-top: 10px;
	color: rgb(55, 90, 127);
}
#worklist .row > div {
	margin-bottom: 20px;
}
.worklist-item {
	padding: 10px;
	background-color: #eee;
	border: solid 1px #ccc;
	border-radius: 10px;
	box-shadow: 4px 4px 2px #888888;
}
.worklist-item-text {
	margin-top: 10px;
}
.worklist-item h2, .worklist-item h3 {
	margin-top: 0;
}
.worklist-item-footer, .detail-toolbar {
	height: 20px;
	padding: 0 20px 0 0;
}
.worklist-item-img img {
	display: block;
	margin: 0 auto;
}
.worklist-toolbar {
	height: 40px;
	padding-bottom: 0;
	vertical-align: middle;
}
.worklist-toolbar input {
	margin-top: 0;
}
.worklist-toolbar i {
	font-size: 1.6em;
	width: 30px;
	text-align: center;
	padding-top: 4px;
}
.worklist-toolbar .worklist-item {
	height: 50px;
}
/*---- user ----*/
.user-info {
	padding: 10px;
	margin: 10px 0;
	background-color: #eee;
	border: solid 1px #ccc;
	border-radius: 10px;	
	min-height: 170px;
}
.user-info-header img {
	height: 150px;
}
#usercases .worklist-item {
	margin-top: 10px
}
#usercases h3 {
	font-size: 1.1em;
}
/*---- detail ----*/
.detail-panel .detail-image {
	background-color: #000;
}
.detail-panel .detail-image img{
	display: block;
	margin: 0 auto;
	width: 50%;
}
.detail-content > textarea {
	width: 100%;
	padding-left: 50px;
	border: none;
	height: 100px;
}
/*---- replylist ----*/
.reply-list {
	margin-top: 10px;
}
.reply-list > div {
	background-color: #eee;
	margin-bottom: 5px;
	padding: 0;
}
.reply-user {
	background-color: #ccc;
	padding: 5px;
}
.reply-new > * {
	display: inline-block;
}
.reply-content {
	width: 100%;
	border: none;
	background-color: transparent;
}